* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(36, 35, 35);
}

.container {
    height: 100vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 80px;
    height: 80px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.box1 {
    background: rgb(7, 30, 61);
}
.box2 {
    background: rgb(187, 187, 21);
}
.box3 {
    background: rgb(33, 230, 193);
}
.box4 {
    background: rgb(31, 66, 135);
}
.box5 {
    background: rgb(39, 142, 165);
}
.box6 {
    background: rgb(23, 185, 120);
}