* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(36, 35, 35);
}

.container {
    height: 100vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.box1 {
    background: #071e3d;
}
.box2 {
    background: rgb(187, 187, 21);
}
.box3 {
    background: #21e6c1;
}
.box4 {
    background: #1f4287;
}
.box5 {
    background: #278ea5;
}
.box6 {
    background: #17b978;
}