* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 44px;
    text-align: center;
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: space-around;
    height: 200vh;
}
.path {
    stroke-dasharray: 2222;
    stroke-dashoffset: 2222;
}
.svg {
    margin-top: 500px;
}
