* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(36, 35, 35);
}

.space {
    width: 100%;
    height: 100vh;
    background: #303a52;
}

.container {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

h1,
h2,
p {
    margin-left: 2rem;
    color: white;
}
h1,
h2 {
    font-family: "Abril Fatface", cursive;
}

h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
p {
    margin-top: 2rem;
    font-size: 1.5rem;
}
span {
    color: #482ff7;
}

.img-container,
.text-container {
    position: relative;
}

.reveal-img,
.reveal-text {
    position: absolute;
    background: rgb(36, 35, 35);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
